### Based on: https://onlinelibrary.wiley.com/doi/full/10.1111/evo.12555 
<b>Datasets: https://datadryad.org/resource/doi:10.5061/dryad.bt52f?show=full</b>

In [1]:
suppressMessages(library(tidyverse))
library(readxl)

In [3]:
myData = read_excel("Hierarchical Linear Model.xlsx")
print(myData)

# A tibble: 913 x 23
   `Island name` `FID (cm)` `DR (cm)` `Group FID mean` `Group DR mean`
   <chr>              <dbl>     <dbl>            <dbl>           <dbl>
 1 Naxos                110        10             193.            42.1
 2 Naxos                240        20             193.            42.1
 3 Naxos                220        15             193.            42.1
 4 Naxos                210        30             193.            42.1
 5 Naxos                190       110             193.            42.1
 6 Naxos                180        60             193.            42.1
 7 Naxos                170        20             193.            42.1
 8 Naxos                250        40             193.            42.1
 9 Naxos                100        20             193.            42.1
10 Naxos                 80        10             193.            42.1
# ... with 903 more rows, and 18 more variables: `0 predators 0=no,
#   1=yes` <dbl>, Rats <dbl>, `Sand Boas` <dbl>, Birds <dbl>, Vipers <dbl>,
#   `Other Snakes` <dbl>, Mammals <dbl>, `Total Number of Predators` <dbl>,
#   `Goats (1=yes, 0=no)` <dbl>, `Humans (1=yes, 0=no)` <dbl>, `Seabirds
#   (1=yes, 0=no)` <dbl>, `Walls (1=yes, 0=no)` <dbl>, `Age (years)` <dbl>,
#   `Area (square kilometers)` <dbl>, `% Vegetation Cover` <dbl>, `Sheep/goat
#   Density` <dbl>, `Lizard Density (per 100m transect)` <dbl>, `Seabird
#   Density` <dbl>